<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crow-Web-Site: About</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/hello">Hello page</a>
    <h1>About author</h1>
    <p>Hi! I'm Robert Sabirov (a.k.a. Hydra13).</p>
    <p>If you have any questions or suggestions - let me know by <a href="mailto:rob.sabirov@gmail.com" target="_blank">email</a></p>
</body>
</html>