<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crow-Web-Site: Hello</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/about">About author</a>
    <h1>Need more information about you</h1>
    <p>Please, enter your name:</p>
    <input class="name-field" type="text">
    <button class="ok-button">Ok</button>

    <script>
        const okButton = document.querySelector('.ok-button');
        const nameField = document.querySelector('.name-field');

        okButton.addEventListener('click', () => {
            if (!nameField.value) {
                alert('Please, enter your name into input and click "Ok" button');
            }

            window.location.assign(`/hello/${nameField.value}`);
        })
    </script>
</body>
</html>